<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\EmployeeManager.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=(localdb)\\MSSQLLocalDB;Database=EmployeeManager; MultipleActiveResultSets=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
<!--ProjectGuid: 739ecd96-2b94-496a-96c5-5eb222a4d89a-->